@import "tailwindcss";
@source "../node_modules/@ilamy/calendar/dist";

* select,
select {
  background-color: #3f3f46;
  color: #ffffff;
  border: 1px solid #52525b;
  border-radius: 6px;
  padding: 6px 12px;
}

* option,
option {
  background-color: #3f3f46;
  color: #ffffff;
}

.calendrier-moderne {
  width: 100%;
  height: 100%;
  background: #27272a;
  color: white;
  font-family: system-ui;
}
